.btn-blue {
    background-color: #6260A9;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #7370FF;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}